@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 768px) {/*celular tamanho deve ser 400 x 768 (ou 842????)*/
    body{ 
        background-image: url('imagens/background-celular.jpg');
    }
    main > h1 {
        background-image: linear-gradient(to right, #e4e4d800,#e4e4d893, var(--cor5), var(--cor1), #e4e4d800); 
    }
    iframe {
        margin: 20px 0px 33px;
        height: 335px; 
        width: 400px;
     }
     #qr {
        height: 220px; 
        width: 220px;
     }
     main > p { 
        color: #888803;
    }
    nav > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor3);
    }
    #agradecimento {
        border-radius: 30px;
        background-image: linear-gradient(to right, #e4e4d800,#e4e4d893, var(--cor5), var(--cor1), #e4e4d800); 
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {/*tablet*/
    body{ 
        background-image: url('imagens/background-tablet.jpg');
    }
    iframe {
        margin: 20px 0px 33px;
        width: 750px;
        height: 350px; 
     }
     #qr {
        height: 320px; 
        width: 300px;
     }
     i#burguer {
        display: none;
    }     
     nav {
        display: block; 
    }
 }
 @media screen and (min-width: 992px) {
    nav {
        display: block; /*mostrar o nav e esconder o i#burguer*/
    }
    i#burguer {
        display: none;
    } 
 }