@charset "UTF-8";




:root {
    --cor1: #E4E4D8;
    --cor2: #5a633125;
    --cor3: #6F7A50;
    --cor4: #f4ce64;
    --cor5: #fcfced93; /*alterei a transparencia*/
    --cor6: #eeeee0;
}

@font-face {
    font-family: 'Abuget'; 
    src: url('Fonte/Abuget.ttf') format('opentype'), url('fontes/OldLondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
} 
*{
    margin: 0px;
    padding: 0px; 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url('imagens/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    max-width: 1400px; /*era 1280px*/
    display: block;
    margin: auto;
    color: var(--cor3);
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 2px;
   
    font-size: 1.2em;
    border-radius: 10px;
}
header > h1 {
    margin-bottom: 30px;
    font-family: Abuget;
    font-size: 70px;
    font-weight: lighter;
}

nav {
    text-align: left;
    margin: auto;
    border-radius: 22px;
    max-width: 1280px;
    padding: 13px 5px; 
    background-image: linear-gradient(to right, var(--cor5), var(--cor6),  var(--cor1));    
}
nav > a {
    color: var(--cor3);
    text-decoration: none;
    padding: 12px 12px;
    margin: 5px;
    border-radius: 15px;
}
nav > a:hover {
    background-color: var(--cor4);
    color: white;
    transition-duration: 0.5s;
}

main {
    margin: auto;
    padding-bottom: 1px;
    max-width: 1400px; /*era 1280px*/
    background-color: none;
    border-radius: 10px;
}
main > h1 {
   font-family: Abuget;
   font-weight: lighter;
   font-size: 50px;
    margin: auto;
    max-width: 1280px;
    color:var(--cor3);
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 15px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #e4e4d86e,var(--cor1), var(--cor5), var(--cor1), #e4e4d86e);  
}
div {
    display: inline-block;
    margin: 8px 8px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5), var(--cor2));
    width: 240px;
    border-radius: 15px;
}
div > p {
    padding: 15px;
}
#pix {
    text-align: justify;
}
#agradecimento {
    font-family: abuget;
    font-size: 4em;
}
img {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 200px;
    height: 150px;
}
main > p { 
    margin-top: 0px;
    margin-bottom: 17px;
    padding-bottom: 2px;
    font-size: 20px;
    color: var(--cor3);
}
#qr {
    width: 400px;
    height: 400px;
    padding: 0px;
    margin-top: 0px;
}
iframe {
    margin: 20px 0px 33px;
    width: 1000px;
 }
.botao {
    background-color: var(--cor3);
    color: white;
    width: 170px;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
}
.botao:hover {
    background-color:var(--cor4);
    transition-duration: 0.5s;
 }
 footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor3);
    padding: 8px;
    color: white;
    font-size: 1em;
    margin-top: 12px;
 }

/*criação do menu hamburguer*/

 i#burguer {
    background-color: var(--cor3);
    color: white;
    display: block; /*para ficar com a largura total*/
    text-align: center;
    padding: 0px;
    cursor: pointer; /*mouse vira uma mao quando passar sobre o burguer*/
}

i#burguer:hover {
    background-color: var(--cor4);
    color: white;
}
i#burguer > img {
    height: 25px;
    width: 25px;
    padding: 4px; 
}
nav {
    display: none; /*para esconder o menu na versao mobile*/
}

 